body {
    background-color: #add8e6;
}

p {
    color: #000000;
}

h1 {
    font-size: 32px;
    text-align: center;
}

.caixa {
    background-color: #ffffff;        
    padding: 20px;                     
    border-radius: 10px;              
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); 
    width: fit-content;
    margin: 20px auto;                   
}